@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Twinkle+Star&display=swap');

body{
    background-color: rgb(238, 233, 233);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

img{
    width: 20px;
    height: 20px;
}
.Result{
    display: none;
}

.bottomContainer{
    width:750px;
    height:5vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    
}

#textContainer{
    margin-top: 10px;
    width:750px;
    height:auto;
    background-color: white;
    padding:10px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: x-large;
    border-radius: 5px;
    
}

.card-1 h1{

}
.correct{
    background-color: #35b814;
    color:white;
    border-radius: 2px;
}

.pass{
    background-color: #ccf8c1;
    color:white;
    border-radius: 5px;
}

.wrong{
    background-color: red;
    color:white;
    border-radius:2px;
}

.word{
    margin: 1px 2px;
    font-size: larger;
}

.restart{
 content: '';
}

.restart:hover{
    color: red;
}

.card span{
    font-size: x-large;
}


